[submodule "melonDS-android-lib"]
	path = melonDS-android-lib
	url = https://github.com/zhushanwen321/melonDS-android-lib.git

[submodule "app/src/main/cpp/oboe"]
	path = app/src/main/cpp/oboe
	url = https://github.com/google/oboe.git

[submodule "app/src/main/cpp/faad2"]
	path = app/src/main/cpp/faad2
	url = https://github.com/knik0/faad2.git

[submodule "app/src/main/cpp/enet"]
    path = app/src/main/cpp/enet
    url = https://github.com/lsalzman/enet.git
